body{
    background-color: #5E965B;
}
.margin-top-zero{
    margin-top: 0px;
}
.right{
    text-align: right;
}
.margin-left{
    margin-left:21.5em;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 1em;

    border: 1px solid transparent;
}
.center{
    text-align: center;
}
.padding-right-20{
    padding-right:20px;
}
.margin-right-20{
    margin-right:20px;
}
.footer {
    position: relative;
    bottom:0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    margin-top: 2em;
    clear:both;
}
.container .jumbotron, .container-fluid .jumbotron{
    margin-bottom:0px;
}
.fixed-size{
    width:100%;
    height: 500px;
}